*{
  margin: 0;
  padding: 0;
  background-color: rgb(222, 222, 222);
}
.image {
  position: fixed;
  left: 50%;
  top: 10px;
  padding: 20px 20px;
  max-width: 100px;
  background-color: rgb(222, 222, 222);
}
.text {
  padding: 2% 2% 2% 2%;
  flex: 1;
  text-align: left;
  position: absolute; /* Remove the image from the normal document flow */
  top: 500px; /* Move the image 50% down from the top */
  left: 50%; /* Move the image 50% to the right */
  transform: translate(-50%, -50%); /*Adjust the position based on the image's size */
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Helvetica';
  max-width: 600px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
